<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IFBA Club Directory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/vendor/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-8.0.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel"></h5>
            <div class="modal-edit-button"></div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <main class="container">
      <%- include('partials/_header') %>

      <% if (messages) { %>
        <% for (key in messages) { %>
          <div class="alert alert-<%= [key] %>">
            <span><%= messages[key] %></span>
          </div>
        <% } %>
      <% } %>

      <% if (!user) { %>
        <%- include('partials/_login') %>
      <% } %>

      <% if (user) { %>
        <div class="dropdownContainer">
          <span>
            <select id="regionSelect" size="1">
              <option value="">Choose a region</option>
              <option value="A">All Regions</option>
              <option value="1">Region 1</option>
              <option value="3">Region 3</option>
              <option value="5">Region 5</option>
              <option value="6">Region 6</option>
              <option value="7">Region 7</option>
              <option value="9">Region 9</option>
              <option value="10">Region 10</option>
              <option value="11">Region 11</option>
            </select>​
          </span>

          <span id="regionVP"><!-- placeholder for officer name --></span>
        </div>

        <div id="clubList">
          <p style="margin-top: 15px;">Select a region from the dropdown to get started.</p>
        </div>
      <% } %>
    </main>

    <%- include('partials/_footer') %>

  </body>
</html>